name: build

on:
  push:
    branches:
      - main
      - develop
      - 'release/**'
  pull_request:
    branches:
      - main
      - develop
      - 'release/**'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      actions: read
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        dotnet-quality: 'ga'

    - name: Restore dependencies
      run: dotnet restore

    - name: Restore dotnet tools
      run: dotnet tool restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal

    - name: Collect code coverage
      shell: pwsh
      run: ./eng/GenerateCodeCoverageReport.ps1 -OutputDirectory artifacts/codecoverage -SharpRacer -SourceGenerator -Json -NoBuild -Configuration Release

    - name: Upload code coverage reports
      uses: actions/upload-artifact@v6.0.0
      with:
        name: code-coverage-results
        path: artifacts/codecoverage/**/*

    - name: Create packages
      run: dotnet pack --configuration Release --no-build --no-restore

    - name: Upload package artifacts
      uses: actions/upload-artifact@v6.0.0
      with:
        name: nuget-packages
        path: artifacts/nupkg/**/*.nupkg