# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        dotnet-quality: 'ga'
    - name: Restore dependencies
      run: dotnet restore
    - name: Restore dotnet tools
      run: dotnet tool restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Collect Code Coverage
      shell: pwsh
      run: ./eng/GenerateCodeCoverageReport.ps1 -OutputDirectory artifacts/codecoverage -SharpRacer -SourceGenerator -Json -NoBuild
    - name: Upload Code Coverage Reports
      uses: actions/upload-artifact@v6.0.0
      with:
        name: code-coverage-results
        path: artifacts/codecoverage/**/*
