name: Publish GitHub Packages
on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed
    branches:
      - main
      - develop
      - 'release/**'

jobs:
  update-code-coverage:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      packages: write
    
    steps:
    - name: 'Download NuGet packages artifact'
      uses: actions/download-artifact@v4
      with:
        run-id: ${{ github.event.workflow_run.id }}
        github-token: ${{ github.token }}
        name: nuget-packages
        path: ./nuget-packages
    - name: Push NuGet packages
      if: ${{ github.event_name != 'pull_request' }}
      shell: pwsh
      run: |
        Get-ChildItem -Path ./nuget-packages *.nupkg -File | ForEach-Object {
            & dotnet nuget push $_.FullName --source https://nuget.pkg.github.com/ericmqt/index.json --api-key ${{ secrets.GITHUB_TOKEN }}
        }